#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
Components/xamandroidsupportv13-18-21.0.3.0
Components/xamandroidsupportv4-18-4.18.1
Components/xamandroidsupportv7appcompat-21.0.3.0
Components/xamandroidsupportv13-18-21.0.3.0.info
Components/xamandroidsupportv13-18-21.0.3.0.png
Components/xamandroidsupportv4-18-4.18.1.info
Components/xamandroidsupportv4-18-4.18.1.png
Components/xamandroidsupportv7appcompat-21.0.3.0.info
Components/xamandroidsupportv7appcompat-21.0.3.0.png
